.main {
    background-color: #212123;
    color: white;
    width: 100%;
    height: 100%;
}

.wrapper {
    padding: 30px;
}

.blueText {
    color: cornflowerblue;
}

.pinkText {
    color: hotpink;
    margin-right: 4px;
}

.attentionText {
    width: 75%;
    padding: 2%;
}

.attentionDiv {
    background-color: #323232;
    border-radius: 15px;
}

.middleDivsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.middleDivHeader {
    display: flex;

    justify-content: center;
    width: 100%;
}

.middleDivText {
    padding: 0 20px 20px 20px;
    line-height: 25px;

}

.middleDiv {
    width: 48%;
    background-color: #323232;
    border-radius: 10px;

}

.middleDivBtn {
    padding: 10px;
    background: linear-gradient(117.13deg, #7E90D9 8.47%, #DE6BAA 91.95%);
    cursor: pointer;
    border-radius: 5px;
}

.resumeResources {
    display: flex;
    flex-direction: column;

    h3{
        font-size: 24px;
    }
}

.card{
    padding-left: 0;
}
.cards {
    width: 30%;
    height: 128px;
    gap: 0px;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;
    background-color: #323232;
    list-style-type: none;
    padding: 18px 20px 18px 20px;
    margin: 0;
    display: flex;
    column-gap: 8%;
}

.cardText {
    height: 100%;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view {
    text-decoration: none;
    color: #86D5F2;
}

.cardImage {
    height: 100%;
    width: 46%;
}

.cardText1 {
font-size: 24px;
font-weight: 500;
line-height: 29.05px;
text-align: left;
}